################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Group03_PRG2Assignment/S10258126_PRG2Assignment/.vs/S10258126_PRG2Assignment/FileContentIndex/1a4053fc-fd97-40e3-a26d-a40c0950be84.vsidx
