################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Group03_PRG2Assignment/S10258126_PRG2Assignment/.vs/S10258126_PRG2Assignment
